
* {
    box-sizing: border-box;
}

body {
    color: #808080;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
    text-align: center;
    font-weight: normal;
}

hr {
    background-color: #a1a1a1;
    height: 1px;
    border: 0;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e87b2a;
}

    a:hover {
        color: #a75012;
    }

.hidden {
    display: none;
}

.container {
    position: relative;
    width: 100%;
    max-width: 882px;
    margin: 50px auto;
}

.menu {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-weight: bold;
}

    .menu div {
    }

    .menu a {
        padding: 10px 10px;
    }


#loader {
    text-align: center;
    padding-top: 50px;
}

#search-images, #gallery-images {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #dcdfe0;
    padding: 20px;
    border: 3px solid #dcdfe0;
    text-align: center;
    cursor: pointer;
}

.image {
    max-height: 150px;
    max-width: 150px;
}

    .image img {
        width: 100%;
    }

.selected-image {
    border: 3px solid #e87b2a;
}

#search-input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    font-family: inherit;
    color: #808080;
}

#link-bottom, #link-bottom-start {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

#gallery-image-large {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    padding-top: 130px;
    top: 0;
    background: rgba(51,51,51,0.95);
    z-index: 10;
    cursor: pointer;
}

#gallery-image-large-src {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 20px solid white;
}

@media screen and (max-width: 480px) {

    #gallery-image-large-src {
        width:300px;
    }
}
